<%- include('partials/header') %>



<h1 class="centered1">Sorry</h1>
<p class="centered1">Sorry account Already exists! Plz try again</p>

<form class="" action="/d" method="post">
  <button class="btn btn-outline-primary a" type="submit" name="button">        Retry        </button>
</form>

<%- include('partials/footer') %>
