<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text">______ - <i>â„Œğ”¶ğ”­ğ”¢ğ”¯ğ”±ğ”¢ğ”µğ”± ğ”ğ”°ğ”°ğ”ğ”°ğ”°ğ”¦ğ”«</i></p>
    <hr>

    <a class="btn btn-light btn-lg bello" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg hello" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
